@font-face {
  font-family: SquidGame;
  src: url('Game Of Squids.ttf');
}
body {
  font-family: SquidGame;
  background-color: #060607;
}
.header {
  font-size: 24px;
}
.playerHead {
  width: 24px;
  vertical-align: middle;
}
.playerName{
  padding: 0 10px 0 10px;
}
.player {
  padding: 3px;
}
.player:nth-child(even) {
  background-color: #1f4068;
}
body {
  margin: 0;
  color: #f2f1ef;
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.embedwrapper {
  flex: 80;
}
.streams {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
iframe {
  border: 0;
  height: 100%;
}
.streams iframe {
  width: 100%;
  flex-grow: 1;
  height: initial;
}
.information {
  flex: 20;
  background-color: #27282b;
  display: flex;
  flex-direction: column;
}
.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.info {
  padding: 20px;
}
h1 {
  text-align: center;
  font-size: 10vmax;
  color: #eeefef;
  width: 100%;
}
.icons {
  float: right;
}
input[type="checkbox"] {
  vertical-align: middle;
}
.header {
  background-color: #232427;
  padding: 5px;
}
.hide,.show {color: #fff;
  text-decoration: none;
  float: right;
}
.show {
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  display: none;
}
.button.active {
  background-color: #248045;
  font-weight: bold;
}
.menu {
  display: flex;
  justify-content: center;
}
.button {
  background-color: #248045;
  display: inline-block;
  margin: 2px;
  padding: 5px;
}
.embed {
  display: none;
}
.embed,.embed iframe {
  height: 100%;
  width: 100%;
}
.info a {
  color: #fff;
}
.onMobile {
  display: none;
}
a {
  color: white;
}
@media only screen and (max-width:768px) {
  .streams {
    display: none;
  }
  .streaming {
    background-color: #681f1f !important;
  }
  .information {
    flex: none;
    width: 100%;
  }
  input[type="checkbox"] {
    display: none;
  }
  .onMobile {
    display: block;
  }
  .menu {
    display: none;
  }
}
a {
  text-align: center;
}
.data {
  display: none;
}
.player.streaming .playerName,.player.streaming .playerHead {
  cursor: pointer;
}
select {
  font-size: 20px;
  background: #248045;
  color: white;
  border: 5px solid #19552e;
  border-radius: 20px;
}
