@font-face {
  font-family: SquidGame;
  src: url('Game Of Squids.ttf');
}
body {
  font-family: SquidGame;
  background-color: #060607;
}
.header {
  font-size: 24px;
}
body {
  margin: 0;
  color: #f2f1ef;
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.embedwrapper {
  flex: 80;
}
iframe {
  display: none;
  flex: 1 0 calc(50%);
  height: calc(50%);
  margin: 0px;
}
.streams {
  display: flex;
  flex: 1 0 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 100vh;
  width: 80vw;
}
iframe {
  border: 0;
  height: 100%;
}
.information {
  flex: 20;
  background-color: #27282b;
  display: flex;
  flex-direction: column;
  width: 20vw;
}
.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.info {
  padding: 20px;
}
h1 {
  text-align: center;
  font-size: 10vmax;
  color: #eeefef;
  width: 100%;
}
.icons {
  float: right;
}
input[type="checkbox"] {
  vertical-align: middle;
}
.header {
  background-color: #232427;
  padding: 5px;
}
.button.active {
  background-color: #248045;
  font-weight: bold;
}
.menu {
  display: flex;
  justify-content: center;
}
.button {
  background-color: #248045;
  display: inline-block;
  margin: 2px;
  padding: 5px;
}
.info a {
  color: #fff;
}
a {
  color: white;
}
a {
  text-align: center;
}
select {
  font-size: 20px;
  background: #248045;
  color: white;
  border: 5px solid #19552e;
  border-radius: 20px;
}
